:root{
    --bg: #0b1529;
    --bgSoft: #1f3050;
    --text:#dee4eb;
    --textSoft:#cbd2d9;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
}

.social{
    display: flex;
    gap: 10px;
}