:root{
    --bg: #0b1529;
    --bgSoft: #1f3050;
    --text:#dee4eb;
    --textSoft:#cbd2d9;
}

.singleHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .singleHeadTexts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .singleHeadTitle {
    font-size: 48px;
  }
  
  .singleHeadDesc {
    font-size: 20px;
    font-weight: 300;
  }
  
  .singleHeadDetail {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .singleAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .singleCategory {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    font-size: 14px;
  }
  
  .singleHeadImg {
    flex: 1;
    max-height: 350px;
    object-fit: cover;
  }
  
  .singleBottom {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
  }
  
  .singleContent {
    flex: 3;
    font-size: 20px;
    line-height: 32px;
  }
  
  .singleContent p,
  .singleContent h1,
  .singleContent h2,
  .singleContent h3 {
    margin: 20px 0px;
  }
  
  .singleContent img {
    width: 100%;
    object-fit: cover;
  }
  
  .singleContent pre {
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .singleRightBar {
    flex: 1;
  }
  
  @media (max-width: 1024px) {
    .singleHeadImg {
      display: none;
    }
  
    .singleBottom {
      flex-direction: column;
    }
  }
  